<div class="container">
  <img [src]="imageUrl" alt="GOT_LOGO" />
  <div class="about">
    <h1>Game of Thrones: A Tale of Thrones, Dragons and Intrigue</h1>
    <p>
      Game of Thrones stands as a cultural phenomenon, an epic tale that has
      left an indelible mark on the landscape of modern television and
      literature. Born from the visionary mind of George R. R. Martin, this
      sprawling narrative unfolds across the mythical continents of Westeros and
      Essos, weaving together intricate plots, political machinations, and a
      rich tapestry of characters. <br />
      <br />At its core, Game of Thrones is a saga of power and ambition, where
      noble houses vie for the coveted Iron Throne, symbolizing dominion over
      the Seven Kingdoms. What sets it apart is its willingness to defy
      conventions, where no character, no matter how significant, is shielded
      from the merciless twists of fate. <br />
      <br />
      The series introduces a cast of characters as diverse as the lands they
      inhabit, from the honorable Stark family to the cunning Lannisters and the
      last scion of House Targaryen. Each character is a piece in a grand
      chessboard, and their stories are interwoven in a complex dance of
      loyalty, betrayal, and survival. <br />
      <br />
      Dragons, once thought extinct, return to the skies, and ancient forces
      stir in the icy North. Game of Thrones seamlessly blends elements of
      fantasy with the grittiness of medieval-inspired political intrigue. The
      result is a narrative that transcends genres, captivating audiences with
      its unpredictability and unapologetic storytelling. <br />
      <br />
      Despite its fantastical setting, Game of Thrones resonates on a deeply
      human level. It explores themes of honor, morality, and the consequences
      of wielding power. Viewers are taken on an emotional rollercoaster,
      forging connections with characters who face the harsh realities of a
      world where survival is never guaranteed. <br />
      <br />
      The legacy of Game of Thrones extends beyond its final season. It has
      redefined how audiences engage with television, sparked worldwide
      discussions, and inspired a new era of fantasy storytelling. Whether
      through the vivid pages of Martin's novels or the sweeping visuals of the
      television series, Game of Thrones continues to leave an enduring imprint
      on the hearts and minds of its global audience. Winter may have come and
      gone, but the echoes of "valar morghulis" and the Iron Throne's shadow
      linger, ensuring that the tales of Westeros will be retold for generations
      to come.
    </p>
  </div>
</div>
