<!-- <h1>Switch Case Demo</h1>
<button (click)="incr()">Next</button>
<div [ngSwitch]="value">

  <div *ngSwitchCase="0">
    Sunday
  </div>
  <div *ngSwitchCase="1">
    Monday
  </div>
<div *ngSwitchCase="2">
  Tuesday
</div>
<div *ngSwitchDefault>
 It is default
</div>

</div> -->





<!--NgFor-->
<!-- <h2>For Demo</h2>
<div *ngFor="let n of data;index as i;">
    Data is :{{n}} and index is: {{i}} 
</div> -->
<!-- task is to place a button and on click of the button , array values should be reversed and displayed in the same for element -->

<!--API Details-->
<button (click)="fetchData()">click</button>
<div *ngFor="let t in todo"></div>
<p>{{todo}}</p>






