<!-- <ng-container *ngFor="let value of [2,3,5,8,9,11]">
  {{value}}
</ng-container>
<-<div>2</div>-->
<!--<div>3</div>-->
<!-- <div *ngIf="false then t1 else t2">

</div>
<ng-template #t1>hhcch</ng-template>
<ng-template #t2>ch</ng-template> --> 
<h1>Parent Component</h1>
<!-- <app-child>
  <img [src]="path" alt="image" />
</app-child> -->

<app-child>
  <h2>Hello world</h2>
  <ul>
    <li #m1 class="list">Mobile</li>
    <li #m2 class="list">Electronics</li>
    <li #m3>Books</li>
  </ul>
</app-child>




